aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
amqp
asgiref
async-timeout
attrs
billiard
celery
certifi
charset-normalizer
click
cloudinary
click-didyoumean
click-plugins
click-repl
cron_descriptor
dj-database-url
django-cloudinary-storage
Django
django-celery-beat
django-htmx
django-timezone-field
frozenlist
gunicorn
idna
kombu
multidict
packaging
Pillow
prompt_toolkit
propcache
psycopg[binary]
PyJWT
python-crontab
python-dateutil
python-decouple
python-http-client
redis
requests
sendgrid
six
sqlparse
starkbank-ecdsa
stripe
twilio
typing_extensions
tzdata
tzlocal
urllib3
vine
wcwidth
whitenoise
yarl
